@page
@model WebApplication1.Pages.CheckerGameStates.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CheckerGameState</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckerGameState.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckerGameState.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckerGameState.NextMoveByBlack)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckerGameState.NextMoveByBlack)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckerGameState.SerializedGameBoard)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckerGameState.SerializedGameBoard)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckerGameState.CheckerGame)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckerGameState.CheckerGame!.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="CheckerGameState.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
