@page
@model WebApplication1.Pages.CheckerGames.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CheckerGame</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckerGame.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckerGame.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckerGame.StarterAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckerGame.StarterAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckerGame.GameOverAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckerGame.GameOverAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckerGame.GameWonBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckerGame.GameWonBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckerGame.Player1Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckerGame.Player1Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckerGame.Player1Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckerGame.Player1Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckerGame.Player2Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckerGame.Player2Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckerGame.Player2Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckerGame.Player2Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckerGame.OptionsId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckerGame.OptionsId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CheckerGame?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
