@page
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Domain
@model WebApplication1.Pages.CheckerGames.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Game list</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CheckerGame[0].Name)
        </th>
        <th>
            Started at
        </th>
        <th>
            Game over at
        </th>
        <th>
            Game won by
        </th>
        <th>
            Player 1 name
        </th>
        <th>
            Player 1 type
        </th>
        <th>
            Player 2 name
        </th>
        <th>
            Player 2 type
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.CheckerGame)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StarterAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameOverAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameWonBy)
            </td>
            <td>
                @if (item.Player1Type != EPlayerType.Ai)
                {
                    <text>Play as:</text>
                    <a target="_blank" asp-page="./Play" asp-route-id="@item.Id" asp-route-playerNo="0">@Html.DisplayFor(modelItem => item.Player1Name)</a>

                }
                else
                {
                    <text>Robot:</text>
                    @Html.DisplayFor(modelItem => item.Player1Name)

                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player1Type)
            </td>
            <td>
                @if (item.Player2Type != EPlayerType.Ai)
                {
                    <text>Play as:</text>

                    <a target="_blank" asp-page="./Play" asp-route-id="@item.Id" asp-route-playerNo="1">@Html.DisplayFor(modelItem => item.Player2Name)</a>

                }
                else
                {
                    <text>Robot:</text>

                    @Html.DisplayFor(modelItem => item.Player2Name)

                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player2Type)
            </td>
            <td>
                
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                @if (item is { Player1Type: EPlayerType.Ai, Player2Type: EPlayerType.Ai })
                {
                    <a asp-page="./RobotBrawl" asp-route-id="@item.Id" asp-route-robotBrawlMode="true" asp-route-playerNo="2">Robot brawl!</a>

                }
            </td>
        </tr>
    }
    </tbody>
</table>