@page
@model WebApplication1.Pages.CheckerGames.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CheckerGame[0].Name)
            </th>
            <th>
                Started at
            </th>
            <th>
                Game over at
            </th>
            <th>
                Game won by
            </th>
            <th>
                Player 1 name
            </th>
            <th>
               Player 1 type
            </th>
            <th>
                Player 2 name
            </th>
            <th>
                Player 2 type
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CheckerGame) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StarterAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameOverAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameWonBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player1Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player1Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player2Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player2Type)
            </td>
            <td>
                <a asp-page="./LaunchGame" asp-route-id="@item.Id">Play</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
