@page
@model WebApplication1.Pages.CheckerGameOptions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CheckerGameOptions</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckerGameOptions.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckerGameOptions.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckerGameOptions.Width)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckerGameOptions.Width)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckerGameOptions.Height)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckerGameOptions.Height)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckerGameOptions.TakingIsMandatory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckerGameOptions.TakingIsMandatory)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckerGameOptions.WhiteStarts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckerGameOptions.WhiteStarts)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckerGameOptions.GameCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckerGameOptions.GameCount)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CheckerGameOptions?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
